<!doctype html>
<html lang="en">

<head>
  <title>Nature Nook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body class="split-layout create">
  <div class="create-half-dark-bkgd">
    <header>
      <div class="header-content-wrapper">
        <a href="/">
          <h1>Nature<br>Nook.</h1>
        </a>
        <div class="nav-wrapper">
          <!-- todo: change route to my trips -->
          <a href="/">My trips</a>
          <p class="account">ED</p>
        </div>
      </div>
    </header>
    <main>
      <div class="main-content-wrapper create-main-content-wrapper">

        <a href="/">Back to all the trips</a>
        <h2>Your trip to the<br>place{{ location }}!</h2>
        <p id="trip-date">date{{ date }}</p>
        <!-- todo: add routes to edit, export, and delete -->
        <div class="create-trip-edit-buttons">
          <a href="" id="edit-trip">Edit trip</a>
          <a href="" id="export-trip">Export trip</a>
          <a href="" id="delete-trip">Delete trip</a>
        </div>
      </div>
    </main>
  </div>
  <aside>
    <div class="trip-content-wrapper">
      <h2 class="scroll">Overall itinerary</h2>
      <p>{{trip}}</p>
    </div>
  </aside>
</body>

</html>