<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="full-layout">
    <div class="dark-bkgd">
        <header>
            <div class="header-content-wrapper">
                <a href="/"><h1>Nature<br>Nook.</h1></a>
            </div>
        </header>
        <main>
            <div class="homepage-content-wrapper">
                <h2>Logout</h2>
                <form method="POST" action="{{ url_for('logout') }}" class="auth-form-content-wrapper">
                    <button type="submit" class="btn">Confirm Logout</button>
                </form>
                <p>Changed your mind? <a href="{{ url_for('index') }}" class="link-underline">Return to the homepage</a>.</p>
            </div>
        </main>
    </div>
</body>
</html>
