<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Where do you want to go?</title>
</head>

<body>
  <h1>Nature Nook.</h1>
  <a href="/">My trips</a>
  <h2>Your adventure<br>begins here!</h2>
  <!-- todo: check wording - the form isn't below, it's to the side -->
  <p>Fill out the form to kickstart your adventure in the national park of your choice.</p>
  <form action="/create_trip" method="POST">
    <!-- todo: turn into a toggle for a calendar -->
    <label for="location-search">Where do you want to go?</label>
    <input type="text" id="location-search" name="location-search" placeholder="Search by city or country">
    <label for="start">Exact dates</label>
    <input type="date" id="start" name="trip-start" value="" min="" max="" />
    <label for="end"></label>
    <input type="date" id="end" name="trip-end" value="" min="" max="" />
    <fieldset>
      <legend>Who are you traveling with? <span>(multi-select)</span></legend>
      <input type="checkbox" id="solo" name="traveling-with" value="solo" />
      <label for="solo">Solo</label>
      <input type="checkbox" id="partner" name="traveling-with" value="with one partner" />
      <label for="group">Partner</label>
      <input type="checkbox" id="group" name="traveling-with" value="in a group" />
      <label for="family">Group</label>
      <input type="checkbox" id="kids" name="traveling-with" value="with kids" />
      <label for="with-kids">Kids</label>
    </fieldset>
    <fieldset>
      <legend>What type of lodging do you prefer? <span>(multi-select)</span></legend>
      <input type="checkbox" id="hotels" name="lodging" value="hotels" />
      <label for="hotels">Hotels</label>
      <input type="checkbox" id="lodges" name="lodging" value="lodges" />
      <label for="lodges">Lodges</label>
      <input type="checkbox" id="campsites" name="lodging" value="campsites" />
      <label for="campsites">Campsites</label>
      <input type="checkbox" id="bed-breakfast" name="lodging" value="bed &amp; breakfasts" />
      <label for="bed-breakfast">Bed & breakfasts</label>
    </fieldset>
    <fieldset>
      <!-- todo: check wording - different than the design -->
      <legend>What type of adventure do you prefer? <span>(multi-select)</span></legend>
      <input type="checkbox" id="hiking" name="adventure" value="hiking" />
      <label for="hiking">Hiking & walking</label>
      <input type="checkbox" id="tours" name="adventure" value="tours" />
      <label for="tours">Guided Tours</label>
      <input type="checkbox" id="swimming" name="adventure" value="swimming" />
      <label for="swimming">Swimming</label>
      <input type="checkbox" id="canoeing" name="adventure" value="canoeing" />
      <label for="canoeing">Canoeing</label>
      <input type="checkbox" id="rafting" name="adventure" value="rafting" />
      <label for="rafting">White water rafting</label>
      <input type="checkbox" id="cycling" name="adventure" value="cycling" />
      <label for="cycling">Cycling</label>
    </fieldset>
    <label for="trip-name">Give your trip a unique name:</label>
    <input type="text" id="trip-name" name="trip-name" placeholder="Enter trip name">
    <!-- todo: check to see if text can be "Create trip" or something similar instead to be more accessible -->
    <button type="submit">Next</button>
  </form>
</body>

</html>