<!doctype html>
<html lang="en">

<head>
  <title>Nature Nook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="dark-bkgd">
    <header>
      <div class="header-content-wrapper">
        <a href="/">
          <h1>Nature<br>Nook.</h1>
        </a>
        <div class="nav-wrapper">
          <!-- todo: change route to my trips -->
          <a href="/">My trips</a>
          <p class="account">ED</p>
        </div>
      </div>
    </header>
    <main>
      <div class="main-content-wrapper">
        <h2>Your adventure<br>begins here!</h2>
        <p class="tag-line">Fill out the form to kickstart your adventure in the national park of your choice.</p>
      </div>
    </main>
  </div>
  <aside>
    <div class="form-content-wrapper">
      <form action="/create_trip" method="POST" class="plan-trip-form">
        <!-- todo: turn into a toggle for a calendar -->
        <div class="location">
          <label for="location-search" class="form-label">Where do you want to go?</label>
          <input type="text" id="location-search" name="location-search" placeholder="Search by city or country">
        </div>
        <div class="dates">
          <label for="start" class="form-label">Exact dates</label>
          <div class="calendar">
            <input type="date" id="start" name="trip-start" value="" min="" max="" />
            <input type="date" id="end" name="trip-end" value="" min="" max="" />
          </div>
        </div>
        <fieldset>
          <legend>Who are you traveling with? <span>(multi-select)</span></legend>
          <label for="solo">
            <input type="checkbox" id="solo" name="traveling-with" value="solo" />Solo
          </label>
          <label for="group">
            <input type="checkbox" id="partner" name="traveling-with" value="with one partner" />
            Partner
          </label>
          <label for="family">
            <input type="checkbox" id="group" name="traveling-with" value="in a group" />
            Group
          </label>
          <label for="with-kids">
            <input type="checkbox" id="kids" name="traveling-with" value="with kids" />Kids
          </label>
        </fieldset>
        <fieldset>
          <legend>What type of lodging do you prefer? <span>(multi-select)</span></legend>
          <label for="hotels">
            <input type="checkbox" id="hotels" name="lodging" value="hotels" />
            Hotels
          </label>
          <label for="lodges">
            <input type="checkbox" id="lodges" name="lodging" value="lodges" />
            Lodges
          </label>
          <label for="campsites">
            <input type="checkbox" id="campsites" name="lodging" value="campsites" />
            Campsites
          </label>
          <label for="bed-breakfast">
            <input type="checkbox" id="bed-breakfast" name="lodging" value="bed &amp; breakfasts" />
            Bed & breakfasts
          </label>
        </fieldset>
        <fieldset>
          <legend>What type of adventure do you prefer? <span>(multi-select)</span></legend>
          <label for="hiking">
            <input type="checkbox" id="hiking" name="adventure" value="hiking" />
            Hiking & walking
          </label>
          <label for="tours">
            <input type="checkbox" id="tours" name="adventure" value="tours" />
            Guided Tours
          </label>
          <label for="swimming">
            <input type="checkbox" id="swimming" name="adventure" value="swimming" />
            Swimming
          </label>
          <label for="canoeing">
            <input type="checkbox" id="canoeing" name="adventure" value="canoeing" />
            Canoeing
          </label>
          <label for="rafting">
            <input type="checkbox" id="rafting" name="adventure" value="rafting" />
            White water rafting
          </label>
          <label for="cycling">
            <input type="checkbox" id="cycling" name="adventure" value="cycling" />
            Cycling
          </label>
        </fieldset>
        <div class="bottom-section">
          <div class="trip-name">
            <label for="trip-name" class="form-label">Give your trip a unique
              name:</label>
            <input type="text" id="trip-name" name="trip-name" placeholder="Enter trip name">
          </div>
          <button type="submit" class="btn">Create trip</button>
        </div>
      </form>
    </div>
  </aside>
</body>

</html>